* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  color: #06283d;
}

body {
  background-color: #06283d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .container {
    overflow: hidden;
    width: 400px;
    height: 105px;
    padding: 28px 32px;
    border-radius: 25px;
    background-color: #fff;
    .search-box {
      height: 50px;
      // ICON 要使用 absolute 需要先設定位置
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      i {
        margin-left: 10px;
        font-size: 25px;
        position: absolute;
      }
      input {
        font-size: 22px;
        padding-left: 40px;
        text-transform: capitalize;
      }
      button {
        cursor: pointer;
        font-size: 25px;
        background-color: #dff6ff;
        color: #06283d;
        padding: 10px;
        border-radius: 100%;
        margin-right: 5px;
        transition: 0.3s ease-in;
        &:hover {
          color: #fff;
          background-color: #06283d;
        }
      }
    }
    .not-found {
      text-align: center;
      display: none;
      opacity: 0;
      scale: 0;
      img {
        width: 100%;
        margin-top: 20px;
      }
      p {
        font-size: 20px;
        font-weight: 800;
        margin-top: 20px;
      }
    }
    .weather-box {
      display: none;
      opacity: 0;
      scale: 0;
      text-transform: capitalize;
      text-align: center;
      img {
        width: 100%;
      }
      .temperature {
        margin-top: 20px;
        font-size: 28px;
        font-weight: 800;
      }
      .description {
        font-size: 20px;
        font-weight: 500;
      }
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
    .weather-Details {
      display: none;
      opacity: 0;
      scale: 0;
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
      .humidity,
      .wind {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 100%;
        color: #06283d;
        i {
          font-size: 25px;
          margin-right: 10px;
        }
        span {
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    scale: 1;
  }
}
.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}
